<%- include("partials/header", { title: "About", active: "about" }) %>

<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our eCommerce web app! This site is built as part of our WEB322 course.</p>
</div>

<%- include("partials/footer") %>
